.error-page
  Loader(v-show='loading')
  #page(v-if='props')
    .home_banner
      .outerwrap
        .wrapper
         Header
         #content_center
           .concent                           
             .welcome.phasewelcome.prphasewelcome
                .left
                 .home-content
                   h1 404 Error Page
                   div 
                     h2 Oops! Can't find that page!
                .right
                 Sidebar
        Footer


